@import 'core/settings';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main{
	text-align: center;
}

.title {
	margin: 20px;
}

.card__list{
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 15px;
	width: 900px;
	margin: 20px auto;
}

.visible {
	display: block;
	width: 100%;
	height: auto;
}

.hidden {
	display: none;
}